body{
    background-color: azure;
    max-width: 1140px;
    
}
.header{
display: flex;
margin-left: 80px;
margin-right: 80px;
margin-top: 50px;
gap: 800px;
}
.header-menu{
    display: flex;
}
.menu{
    display: flex;
    gap: 30px;
}
.menu li{
    list-style-type: none;
}
.banner{
   display: grid;
  grid-template-columns: auto auto;
  margin-left: 80px;
  margin-right: 100px;
  gap: 80px;

}
.project{
    display: flex;
 
    gap: 40px;
    margin-top: 20px;
}
.banner-img{
margin-left: 0px;
position: relative;
}
.banner-contain{
   width: 650px;
  
   margin-right: 0px;
}
.btn-1{
    background-color: rgba(0, 0, 0, 0.805);
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}
.btn-2{
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.card{
    background-color: white;
    border: 1px solid black;
    width: 200px;
    text-align: center;
    position: absolute;
   margin-top: -125px;
   margin-left: 25px;
   border-radius: 10px;
   border: none;
}
@media only screen and (max-width: 567px) {
  body {
    background-color: red;
  }
}