body{
    background-color: azure;
    max-width: 1140px;
    
}
.header{
display: flex;
margin-left: 80px;
margin-right: 80px;
margin-top: 50px;
gap: 800px;
}
.header-menu{
    display: flex;
}
.menu{
    display: flex;
    gap: 30px;
}
.menu li{
    list-style-type: none;
}
.banner{
   display: grid;
  grid-template-columns: auto auto;
  margin-left: 80px;
  margin-right: 100px;
  gap: 80px;

}
.project{
    display: flex;
    gap: 40px;
    margin-top: 20px;
}
.banner-img{
margin-left: 0px;
position: relative;

}
.banner-contain{
   width: 650px;
  
   margin-right: 0px;
}
.btn-1{
    background-color: rgba(0, 0, 0, 0.805);
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}
.btn-2{
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.card{
    background-color: white;
    border: 1px solid black;
    width: 200px;
    text-align: center;
    position: absolute;
   margin-top: -125px;
   margin-left: 25px;
   border-radius: 10px;
   border: none;
}
.bh-1{
    font-size: 70px;
    font-weight: 300px;
}

.about{
    margin-left: 80px;
    margin-right: 80px;
    margin-left: 200px;
    width: 1000px;
    margin-top: 100px;
   
}

.about h1{
    text-align: center;
    font-size: 60px;
    font-weight: 200;
}
.about p{
    text-align: center;
}
.about-container{
 display: flex;
 flex-direction: row;
 margin-left: 80px;
 margin-top: 50px;
}
.contain{
    margin-right: 0px;
    padding-right: 10px;
}
.about-img{
   margin-right: -250px;
}
.expr{
    display:flex;
    gap: 30px;
}
.expr h2{
    font-size: 50px;
    font-weight: 100;
}
.expr p{
    margin-top: -35px;
}
.btn-3{
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    border: 0.25px solid rgba(0, 0, 0, 0.526);
   background-color: azure;
   cursor: pointer;
}
.btn-3:hover{
    border: 2px solid black;
}
@media only screen and (max-width: 567px) {
.about{
        text-align: center;
        width: 560px;
margin-left: 0px;
margin-right: 0px;
margin-top: -60px;
    }
    .about p{
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
  .banner{
     display: grid;
  grid-template-columns: auto;
  margin-left: 0px;
  margin-right: 0px;
  gap: 10px;
  }
  .banner-contain{
   width: fit-content;
   margin-right: 0px;
}
.bh-1{
    font-weight: 100px;
    font-size: 50px;
    
}
.header{
display: flex;
flex-direction: column;
margin-left: 0px;
margin-right: 0px;
margin-top: 10px;
gap: 10px;
}
.banner-img{
margin-left: 0px;
position: relative;
width: 400px;
height: 400px;
}
img{
  width: 450px;
height: 300px;  
}
.card{
    background-color: white;
    border: 1px solid black;
    width: 150px;
    text-align: center;
    position: absolute;
   margin-top: -125px;
   margin-left: 25px;
   border-radius: 10px;
   border: none;
}



}